@import "node_modules/breakpoint-sass/stylesheets/breakpoint";

/* LAYOUT */

$desktop: 'only screen' 1024px;

/*
$ipad: 'only screen' (min-device-width 768px) (max-device-width 1024px);
$smartphone: 'only screen' (min-device-width 320px) (max-device-width 480px);
*/

$ipad: 'only screen' 769px 1024px;
$portable: 'only screen' 480px 768px;
$smartphone: 'only screen' max-width 480px;

/* Desktops and laptops ----------- */

.wrapper {
    margin: 0 auto;
    min-width: 320px;
    &:after {
        display: block;
        content: " ";
        height: 0;
        clear: both;
    }
}

body {
    @include breakpoint(($desktop, $ipad, $portable)) {
        font-size: 1em;
    }
    @include breakpoint($smartphone) {
        font-size: 0.9em;
    }
}

#page {
    overflow: hidden;
}

.overlay-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        -o-object-fit: cover;
        transform: none;
        -o-transform: none;
        -moz-transform: none;
    }
}

.menu-mobile-menu-container {
    @include breakpoint(($desktop, $ipad)) {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
}

.menu-primary-container {
    @include breakpoint(($portable, $smartphone)) {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
}

.menu-button {
    position: absolute;
    @include breakpoint($portable) {
        top: 17px;
        right: 60px;
    }
    @include breakpoint($smartphone) {
        top: 18px;
        right: 8px;
    }
}


/* Banner */

@include breakpoint(($desktop, $ipad)) {
    .banner {
        .flowers-bg {
            .flower1 {
                top: 323px;
                left: 16%;
            }
            .flower2 {
                top: 488px;
                left: 60%;
            }
        }
        .birds-bg {
            .birds {
                left: 49%;
                top: 90px;
            }
        }
        .dp-images {
            top: 170px;
            .dp-picture {
                left: 25%;
            }
            .dp-name {
                width: 422px;
                height: 209px;
                top: 424px;
                left: 27%;
            }
        }
        .saints-icons {
            position: relative;
            z-index: 999;
            .saint-icon {
                position: absolute;
            }
        }
    }
}

@include breakpoint($portable) {
    .banner {
        .flowers-bg {
            .flower1 {
                top: 200px;
                left: 9%;
            }
            .flower2 {
                top: 320px;
                left: 53%;
            }
        }
        .birds-bg {
            .birds {
                left: 49%;
                top: 90px;
            }
        }
        .dp-images {
            top: 170px;
            .dp-picture {
                left: 23%;
            }
            .dp-name {
                width: 50%;
                top: 270px;
                left: 23%;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
        .saints-icons {
            position: absolute;
            left: 4%;
            bottom: 1%;
            .saint-icon {
                float: left;
                margin: 1%;
            }
        }
    }
}

@include breakpoint($smartphone) {
    .banner {
        margin-top: 68px;
        .flowers-bg {
            .flower1 {
                top: 120px;
                left: 3%;
            }
            .flower2 {
                top: 270px;
                left: 67%;
            }
        }
        .birds-bg {
            .birds {
                left: 49%;
                top: 90px;
            }
        }
        .dp-images {
            top: 57px;
            .dp-picture {
                left: 7%;
            }
            .dp-name {
                width: 50%;
                top: 270px;
                left: 23%;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
        .saints-icons {
            display: none;
            position: absolute;
            left: 4%;
            bottom: 1%;
            .saint-icon {
                float: left;
                margin: 1%;
            }
        }
    }
}

@include breakpoint ( $desktop) {
    /* Styles */
    section {
        min-height: 380px;
    }
    footer {
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .wrapper {
        max-width: 1000px;
    }
    .banner {
        height: 100vh;
        max-height: 842px;
    }
    .overlay-bg {}
    /* Nav */
    .navbar-menu-container {
        position: relative;
        .custom-logo-link {
            position: absolute;
            left: 0;
            top: 0;
        }
        nav {
            .menu-primary-container {
                display: block;
                visibility: visible;
                opacity: 1;
                .menu {
                    text-align: center;
                    >li {
                        display: inline-block;
                        padding: 26px 12px;
                        >a {
                            &:hover {
                                color: $cream;
                            }
                        }
                    }
                }
            }
        }
    }
    .saints-icons {
        #saint-one {
            top: 138px;
            left: 27%;
        }
        #saint-two {
            top: 185px;
            left: 16%;
        }
        #saint-three {
            top: 258px;
            left: 8%;
        }
        #saint-four {
            top: 358px;
            left: 4%;
        }
        #saint-five {
            top: 464px;
            left: 5%;
        }
        #saint-six {
            top: 560px;
            left: 11%;
        }
        #saint-seven {
            top: 628px;
            left: 19%;
        }
        #saint-eight {
            top: 138px;
            right: 27%;
        }
        #saint-nine {
            top: 185px;
            right: 16%;
        }
        #saint-ten {
            top: 258px;
            right: 8%;
        }
        #saint-eleven {
            top: 358px;
            right: 4%;
        }
        #saint-twelve {
            top: 464px;
            right: 5%;
        }
        #saint-thirteen {
            top: 560px;
            right: 11%;
        }
        #saint-fourteen {
            top: 628px;
            right: 19%;
        }
    }
    .dp-images {
        .dp-picture {
            left: 25%;
        }
        .dp-name {
            width: 422px;
            height: 209px;
            top: 424px;
            left: 27%;
        }
    }
}


/* iPads (portrait and landscape) ----------- */

@include breakpoint ( $ipad) {
    /* Styles */
    section {
        min-height: 300px;
    }
    footer {
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .wrapper {
        max-width: 960px;
    }
    .banner {
        height: 100vh;
        max-height: 842px;
    }
    .saints-icons {
        width: 100%;
        height: 100%;
        #saint-one {
            top: 158px;
            left: 2%;
        }
        #saint-two {
            top: 256px;
            left: 2%;
        }
        #saint-three {
            top: 351px;
            left: 2%;
        }
        #saint-four {
            top: 447px;
            left: 2%;
        }
        #saint-five {
            top: 542px;
            left: 2%;
        }
        #saint-six {
            top: 638px;
            left: 2%;
        }
        #saint-seven {
            top: 734px;
            left: 2%;
        }
        #saint-eight {
            top: 158px;
            right: 2%;
        }
        #saint-nine {
            top: 256px;
            right: 2%;
        }
        #saint-ten {
            top: 351px;
            right: 2%;
        }
        #saint-eleven {
            top: 447px;
            right: 2%;
        }
        #saint-twelve {
            top: 542px;
            right: 2%;
        }
        #saint-thirteen {
            top: 638px;
            right: 2%;
        }
        #saint-fourteen {
            top: 734px;
            right: 2%;
        }
    }
    /* */
    /* */
    .navbar-menu-container {
        position: relative;
        .custom-logo-link {
            position: absolute;
            left: 0;
            top: 0;
        }
        nav {
            .menu-primary-container {
                display: block;
                visibility: visible;
                opacity: 1;
                .menu {
                    text-align: center;
                    >li {
                        display: inline-block;
                        padding: 26px 12px;
                    }
                }
            }
        }
    }
}


/* Portables (portrait and landscape) ----------*/

@include breakpoint ( $portable) {
    .banner {
        height: 842px;
    }
    .dp-images {
        .dp-picture {
            left: 27%;
            img {
                width: 70%;
                min-width: 278px;
                height: auto;
            }
        }
    }
    .saints-icons {
        bottom: 0%;
    }
    .menu-mobile-menu-container {
        display: none;
    }
}


/* Smartphones (portrait and landscape) ----------- */

@include breakpoint ( $smartphone) {
    /* Styles */
    section {
        min-height: 200px;
    }
    footer {
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .wrapper {
        width: 100%;
    }
    .banner {
        height: 468px;
    }
    .dp-images {
        .dp-picture {
            left: 27%;
            img {
                width: 70%;
                min-width: 278px;
                height: auto;
            }
        }
    }
    .saints-icons {
        bottom: 0%;
    }
    .menu-mobile-menu-container {
        display: none;
    }
}


/* images */

img {
    &.alignleft {
        @include breakpoint(($desktop, $ipad, $portable)) {
            float: left;
        }
        @include breakpoint($smartphone) {
            display: block;
            margin: 12px auto;
        }
        margin-right: 12px;
        margin-bottom: 12px;
        border: 4px solid $link;
    }
    &.alignright {
        @include breakpoint(($desktop, $ipad, $portable)) {
            float: right;
        }
        @include breakpoint($smartphone) {
            display: block;
            margin: 12px auto;
        }
        margin-left: 12px;
        margin-bottom: 12px;
    }
    &.aligncenter {
        margin: 12 auto;
    }
}

figure {
    border: 1px solid $cream;
    background: #fff;
    padding: 4px;
    overflow: hidden;
    &.alignleft {
        @include breakpoint(($desktop, $ipad, $portable)) {
            float: left;
        }
        @include breakpoint($smartphone) {
            margin: 12px auto;
        }
        margin-right: 12px;
        margin-bottom: 12px;
    }
    &.alignright {
        @include breakpoint(($desktop, $ipad, $portable)) {
            float: right;
        }
        @include breakpoint($smartphone) {
            margin: 12px auto;
        }
        margin-left: 12px;
        margin-bottom: 12px;
    }
    figcaption {
        background: #fbfbfb;
        padding: 4px;
    }
}

#articles {
    figure {
        height: 300px;
    }
}

#readings {
    figure {
        height: 200px;
    }
}


/* columns */

.col-1 {
    @include span(12 of 12 split);
}

.col-2 {
    @include breakpoint(($desktop, $ipad, $portable)) {
        @include span(6 of 12 split);
    }
    @include breakpoint($smartphone) {
        @include span(12 of 12 split);
    }
}

.col-3 {
    @include breakpoint(($desktop, $ipad)) {
        @include span(4 of 12 split);
    }
    @include breakpoint(($portable, $smartphone)) {
        @include span(12 of 12 split);
    }
}

.col-4 {
    @include breakpoint(($desktop, $ipad)) {
        @include span(3 of 12 split)
    }
    @include breakpoint(($portable, $smartphone)) {
        @include span(12 of 12 split);
    }
}

.col-5 {
    @include breakpoint(($desktop, $ipad)) {
        @include span(2 of 12 split);
    }
    @include breakpoint(($portable, $smartphone)) {
        @include span(12 of 12 split);
    }
}