    body {
        font-family: "Georgia", "Times New Roman", serif;
    }
    
    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.7em;
    }
    
    h3 {
        font-size: 1.7em;
    }
    
    h4 {
        font-size: 1.4em;
    }
    
    h5 {
        font-size: 1em;
    }
    
    h6 {
        font-size: 0.8em;
    }
    
    p {
        line-height: 150%;
        margin-bottom: 1em;
        @include breakpoint(($desktop, $ipad, $portable)) {
            font-size: 1em;
        }
        @include breakpoint($smartphone) {
            font-size: 0.9em;
        }
    }
    
    a {
        text-decoration: none;
    }
    
    nav {
        ul {
            li {
                a {
                    color: $link;
                    text-transform: uppercase;
                }
            }
        }
    }
    
    .entry-title {
        line-height: 150%;
        text-align: center;
        color: $link;
    }